Querying NoSQL databases

In [ ]:
# Update the query to pull the team, year, event, and medal
# fields from the olympic_medals table
query = """
SELECT
	team,
    year,
    event,
    medal
FROM olympic_medals;
"""

results = conn.cursor().execute(query).fetch_pandas_all()
print(results)

In [ ]:
# Select the review column from the nested_reviews table
query = """
SELECT 
	review
FROM nested_reviews;
"""

data = pd.read_sql(query, db_engine)
print(data)

In [ ]:
# Set the name key-value pair
redis_conn.set("name", "Sarah")

# Retrieve and print the value stored in the "name" key
name = redis_conn.get("name")
print(name)

Querying a column-oriented database

In [ ]:
# Write a query to return all columns, limiting to 10 rows
query = "SELECT * FROM olympic_medals LIMIT 10;"

# Execute the query
results = conn.cursor().execute(query).fetch_pandas_all()

# Print the results of the query
print(results)

Filtering a column-oriented database

In [ ]:
# Return team, name, and year for all years greater than 2000
query = """
SELECT
	team,
    name,
    year
FROM olympic_medals 
WHERE year > 2000
;
"""

# Execute the query, print the results
results = conn.cursor().execute(query).fetch_pandas_all()
print(results)

Querying document databases

In [ ]:
# Update the query to select the review field
query = """
	SELECT 
    	review
    FROM nested_reviews;
"""

# Execute the query
data = pd.read_sql(query, db_engine)

# Print the first element of the DataFrame
print(data.iloc[0, 0])

Querying nested documents with Postgres JSON

In [ ]:
# Build the query to select the statement and location fields --> PG SQL Notaion
query = """
	SELECT 
    	review -> 'statement' AS statement, 
        review -> 'location' AS location 
    FROM nested_reviews;
"""

# Execute the query, render results
data = pd.read_sql(query, db_engine)
print(data)

  Leveraging micro-partitions and data clustering

In [ ]:
# Leverage the existing micro-partitions and data clustering
query = """
SELECT
	team,
    year,
    sport,
    event,
    medal
FROM olympic_medals
WHERE year >= 2000;
"""

# Execute the query, print the results
results = conn.cursor().execute(query).fetch_pandas_all()
print(results)

Querying semi-structured data in Snowflake

In [ ]:
# Build a query to pull city and country names --> DOt Notaion
query = """
SELECT
	city_meta:city,
    city_meta:country
FROM host_cities;
"""

# Execute query and output results
results = conn.cursor().execute(query).fetch_pandas_all()
print(results)

In [ ]:
# Build a query to pull city and country names  --> Bracket Notation
query = """
SELECT
	city_meta['city'],
    city_meta['country']
FROM host_cities;
"""

# Execute query and output results
results = conn.cursor().execute(query).fetch_pandas_all()
print(results)

Querying nested semi-structured data

In [ ]:
# Build a query to extract nested location coordinates
query = """
SELECT
	city_meta:coordinates.lat,
    city_meta:coordinates.long
FROM host_cities;
"""

# Execute the query and output the results
results = conn.cursor().execute(query).fetch_pandas_all()
print(results)

Executing queries with sqlalchemy and pandas

In [ ]:
import pandas as pd
import sqlalchemy

# Create a connection to the reviews database
db_engine = sqlalchemy.create_engine("postgresql+psycopg2://repl:password@localhost:5432/disneyland")

# Execute a query against the nested_reviews table
results = pd.read_sql("SELECT * FROM nested_reviews;", db_engine)
print(results)

Querying JSON and JSONB data from Postgres

In [ ]:
import pandas as pd
import sqlalchemy

# Create a connection to the reviews database
db_engine = sqlalchemy.create_engine("postgresql+psycopg2://repl:password@localhost:5432/disneyland")

query = """SELECT * FROM nested_reviews;"""

# Execute the query, check out the results
results = pd.read_sql(query, db_engine)

# Print the review column from the results DataFrame
print(results["review"])

Converting tabular data to JSON

In [ ]:
# Build a query to create a JSON-object
query = """
SELECT
	row_to_json(row(review_id, rating, year_month))
FROM reviews;
"""

# Execute the query, and output the results
results = pd.read_sql(query, db_engine)
print(results.head(10))

Extracting keys from JSON objects with Postgres

In [ ]:
# Build a query to find the unique keys in the review column
query = """
SELECT
	DISTINCT JSON_OBJECT_KEYS(review)
FROM nested_reviews;
"""

# Execute the query, show the results
unique_keys = pd.read_sql(query, db_engine)
print(unique_keys)

Querying top-level JSON data

In [ ]:
# Build the query to select the review_id and rating fields
query = """
	SELECT 
    	review -> 'location' AS location, 
        review ->> 'statement' AS statement 
    FROM nested_reviews;
"""

# Execute the query, render results
data = pd.read_sql(query, db_engine)
print(data)

Finding the type of JSON data

In [ ]:
# Find the data type of the location field
query = """
SELECT
    JSON_TYPEOF(review -> 'location') AS location_type
FROM nested_reviews;
"""

# Execute the query, render results
data = pd.read_sql(query, db_engine)
print(data)

Working with nested JSON objects

In [ ]:
# Build the query to select the object stored at the 
# location key
query = """
SELECT 
	review -> 'location'
FROM nested_reviews;
"""

# Execute the query, render results
data = pd.read_sql(query, db_engine)
print(data)

In [ ]:
# Update the query to select the nested reviewer field
query = """
SELECT 
	review -> 'location' ->> 'branch' AS branch,
  review -> 'location' ->> 'reviewer' AS reviewer
FROM nested_reviews;
"""

# Execute the query, render results
data = pd.read_sql(query, db_engine)
print(data)

Filtering document databases with Postgres JSON

In [ ]:
# Build the query to select the rid and rating fields
query = """
SELECT
	review -> 'statement' AS customer_review 
FROM nested_reviews 
WHERE review -> 'location' ->> 'branch' = 'Disneyland_California';
"""

# Execute the query, render results
data = pd.read_sql(query, db_engine)
print(data)

#> and #>>

In [ ]:
# Attempt to query the statement, nested branch, and nested
# zipcode fields from the review column
query = """
	SELECT 
    	json_typeof(review #> '{statement}'),
        review #>> '{location, branch}' AS branch,
        review #>> '{location, zipcode}' AS zipcode
    FROM nested_reviews;
"""

# Execute the query, render results
data = pd.read_sql(query, db_engine)
print(data)

Extracting document data

In [ ]:
# Return the statement and reviewer fields, filter by the 
# nested branch field
query = """
    SELECT 
        json_extract_path(review, 'statement'),
        json_extract_path_text(review, 'location', 'reviewer')
    FROM nested_reviews
    WHERE json_extract_path_text(review, 'location', 'branch') = 'Disneyland_California';
"""

data = pd.read_sql(query, db_engine)
print(data)

Manipulating document data

In [ ]:
# Extract fields from JSON, and filter by reviewer location
query = """
    SELECT
    	review_id,
        review #> '{location, branch}' AS branch,
        review ->> 'statement' AS statement,
        rating
    FROM nested_reviews
    WHERE json_extract_path_text(review, 'location', 'reviewer') = 'Australia'
    ORDER BY rating DESC;
"""

data = pd.read_sql(query, db_engine)
print(data)

Connecting to a Redis cluster

In [ ]:
import redis

# Create a connection to Redis cluster
r = redis.Redis(
  	host="localhost",
    port=6379,
    decode_responses=True
  )

Storing key-value data with Redis

In [ ]:
# Store the city key-value pair
redis_conn.set(7, "London")
# The same as
redis_conn.set("7", "London")

# Store the sunshine key-value pair
redis_conn.set("sunshine", 7)
# The same as
redis_conn.set("sunshine", "7")

# Retrieve values stored at the city and sunshine keys
city = redis_conn.get("7")
# The same as
city2 = redis_conn.get(7)

sunshine = redis_conn.get("sunshine")

print(city)
print(city2)
print(type(sunshine))

Retrieving key-value data with Redis

In [ ]:
# Loop through each of the cities
for city in cities:
	# Grab the temperature
    temperature = redis_conn.get(f"{city}_temp")
    
    # Check if the temperature is None
    if temperature is None:
    	# Store an unknown temperature
        redis_conn.set(f"{city}_temp", "unknown temperature")
        print(f"Unknown temperature in {city}")
    
    else:
      	# Otherwise, print the temperature
    	print(f"The temperature in {city} is {temperature}")

Storing Python dictionaries with Redis hset() and hgetall()

In [ ]:
# Create a dictionary containing weather data
london_weather_mapping = {
	"temperature": 42,
	"humidity": 88,
	"visibility": "low"
}

# Store the london_weather key-value pair
redis_conn.hset(
    "london_weather",
	mapping=london_weather_mapping
)

# Retrieve and print the london_weather key-value pair
print(redis_conn.hgetall("london_weather"))